body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F8FA;
    color: rgb(88, 103, 124);
}

header > .container {
    background-color: #434E5E;
    color: white;
}

.container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
}

#sites a {
    color: rgba(255, 255, 255, 0.6);
}

#sites a:hover {
    color: white;
}

ul.contact {
    color: rgba(255, 255, 255,  0.6);
}

li {
    margin: 10px 0;
}

h2, h4, h5, h6 {
    color: #434E5E;
    margin: 5px 0;
}

h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin: 40px 0 20px 0;
}


.company {
    font-size: 0.7em;
}

.period {
    color: rgb(170, 180, 195);
    font-weight: normal;
    font-size: 1.1vw;
}

.awards i {
    left: 0;
    top: 4px;
    color: #aab4c3;
}


.lang em {
    font-weight: lighter;
    font-style: normal;
    color: #6c757d;
}
